<footer class="section--footer">
  <div class="container container--content">
    <div>
      <a href="{{ site.baseurl }}/">Home Port</a> - a blog by <a href="{{ site.baseurl}}/about">MrCruesliPants</a>
    </div>
    <ul class="socialAccountList">
      <!-- if number of icons is changed, also change width in main.css:
           socialAccountList width = 1/{number of icons! -->
      <li><a href="http://twitter.com/{{ site.author.twitter }}" class="socialAccount socialAccount--twitter" target="_blank"></a></li>
      <li><a href="https://github.com/MrCruesliPants" class="socialAccount socialAccount--github" target="_blank"></a></li>  
      <li><a href="http://myanimelist.net/profile/MrCruesliPants" class="socialAccount socialAccount--mal" target="_blank"></a></li>
      <li><a href="https://www.reddit.com/user/MrCruesliPants/" class="socialAccount socialAccount--reddit" target="_blank"></a></li>
      <li><a href="http://steamcommunity.com/id/MrCruesliPants/" class="socialAccount socialAccount--steam" target="_blank"></a></li>
    </ul>
  </div>
</footer>
